body {
  background-color: rgb(31, 25, 23);
}

.grid {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.score {
  text-align: center;
  color: aliceblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.shooter {
  background-color: blue;
}

.invader {
  background-color: purple;
  border-radius: 20px;
}

.boom {
  background-color: red;
}

.laser {
  background-color: orange;
}
